<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="PlumpFish" />
<!--    <meta name="google-site-verification" content="XrAARf-cQZVS4yejyjEp5xFTzsm0LHNaLrbCS-JYlB0" /> -->
   <link rel="alternate" type="application/atom+xml" href="atom.xml" title="Atom feed">
   
   <!-- reset CSS 
   <link rel="stylesheet" href="/css/reset.css" type="text/css" /> -->
   
   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/v2.css" type="text/css" media="screen, projection" />
   
   <link href='http://fonts.googleapis.com/css?family=Enriqueta:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>

   <!-- Some JS -->
   <script src="/js/jquery-1.8.1.min.js"></script>
 </head>
<body id="main">

    <div id="header">
         <h1>FLUMP FISH</h1>
            <nav>
			    <ul>
				<li><a href="/">About</a></li>
				<li class="selected"><a href="/blog">Blog</a></li>
				<li><a href="http://juxuechen.github.io/atom.xml">Feed</a></li>
			    </ul>
		</nav>
         
    </div>     

    <div id="content">    
            {% if page.title %}
				<h2>{{ page.title }}</h2>
			{% endif %}

			{{ content }}
	</div>		
  
  <div class="footer">
   
    
  </div>

<script type="text/javascript">
(function($) {
  var thePage = $("body");
  thePage.html(thePage.html().replace(/fnd/ig, '<img src="/images/plumpfish.in.png" alt="" />')); 
})(jQuery)
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23351645-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
